.header-container {
  display: flex;
  flex-direction: row;
  padding: 5vh 0;
  width: 100%;
  justify-content: space-around;
}

@keyframes spin-infinite{
  0%{
    transform: rotateZ(0deg);
  }
  100%{
    transform: rotateZ(360deg);
  }
  0%{
    transform: rotateZ(0);
  }
}
@keyframes logo-rotate {
  0%{
    transform: rotateZ(0deg);
  }
  100%{
    transform: rotateZ(180deg);
  }
}

.icon{
  transition: 1s;
}

.header-component {
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 0;
  height: 15vh;
  background-color: black;
  color: #F7F3F4;
}

body {
  background-color: rgba(0, 0, 0, 0.844);
  font-family: "Gerhaus", "Arial", "Helvetica", sans-serif;
  font-size: 1vw;
}

.header-item{
  cursor: pointer;
  transition: 1s;
  font-weight: 700;
  display: flex;
  font-size: 1.3vw;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5vh;
  column-gap: 1vw;
  font-family: "Montserrat Bold", sans-serif;
  .icon{
    position: absolute;
    top:72px;
  }
}
.header-item.active{
  .icon{
    transform: rotate(180deg);
  }
}
.header-item:hover{
  color:blueviolet;
}

.header-logo-item {
  display: flex;
  flex-direction: row;
  font-size: 3.5vw;
  column-gap: 0.5vw;
  align-items: center;
  font-family: 'Montserrat Bold',sans-serif;
  transition: 1s;
  font-weight: 700;
  cursor: pointer;
}
.header-logo-name{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.header-logo-item:hover{
  color:blueviolet;
  .icon{
    animation: spin-infinite 1.5s infinite;
  }
}

.header-list-items{
  display: flex;
  position: fixed;
  flex-direction: column;
  z-index: 11;
  top:15vh;
  background-color: black;
  border-radius: 2px;
  border-top: 1px solid blueviolet;
  border-left: 1px solid blueviolet;
  width: 10vw;
  border-right: 1px solid blueviolet;
  color: #F7F3F4
}

.header-list-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width:100%;
  font-size: 1.1vw;
  border-bottom: 1px solid blueviolet;
}